[package]
name = "noticenterctl"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
serde.workspace = true
tokio.workspace = true
zbus.workspace = true
unixnotis-core = { path = "../unixnotis-core" }
